.header-image-container__contents{
    margin: auto;
    text-align: center;
    
}

.header-image-container {
    background-color: #d7d3c8;
}

.header-image-container img{
    width: 100%;
    height: 775px;
}